<%= currently_at :api_console %>

<div class="row">
  <div class="span6">
    <%= form_tag api_request_path do %>
      <%= hidden_field_tag "api[body]", @body %>
      <fieldset>
        <legend>API Test</legend>
        <p>
          <%= select 'api', 'action', ['GET', 'POST', 'PUT', 'DELETE'], { selected: @method }, {class: "span2"} %>
          <%= text_field_tag "api[path]", @path, :class => "span4 pull-right" %>
        </p>
      </fieldset>

      <div class="editor-container">
        <div id="editor"></div>
      </div>

      <button type="submit" class="btn btn-primary btn-block ">Submit</button>
    <% end %>
  </div>

  <div class="span6">
    <% if @status %>
      <div class="status">
        <%= @status %>
      </div>
    <% end -%>
    <% if @code %>
      <div class="response">
        <%= @code.html_safe %>
      </div>
    <% end -%>
  </div>
</div>
