<%= currently_at :surveys %>

<table class="table table-striped">
  <tr>
    <th></th>
    <th>Survey</th>
    <th>Questions</th>
    <th>Created At</th>
    <th class="actions"></th>
  </tr>

<% @surveys.each do |survey| %>
  <tr>
    <td class="delete">
      <%= link_to survey, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="icon-remove-sign"></i>
      <% end -%>
    </td>
    <td><%= link_to survey.name, edit_survey_path(survey) %></td>
    <td><%= survey.questions.count %></td>
    <td><%=l survey.created_at %></td>
    <td class="actions">
      <%= link_to "Export", export_survey_path(survey), class: 'btn' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Survey', new_survey_path %>
