<%= currently_at :surveys %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @survey.name %>
</p>
<p>
  <b>Slug:</b>
  <%= @survey.slug %>
</p>
<p>
  <b>Site:</b>
  <%= @survey.site_slug %>
</p>

<%= render @survey.questions %>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
