<!DOCTYPE html>
<html>
<head>
  <title>NbuildApiConsumer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "NB Client", root_path, class: "brand" %>
        <ul class="nav">
          <%= content_for "top_nav" %>
        </ul>

        <ul class="nav pull-right">
          <%= nav_link "New Nation", new_nation_path, :name => :new_nation %>
          <% if logged_in? %>
            <%= nav_link "Logout", deauthorize_path, :name => :logout %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <% flash.each do |type, message| %>
    <%= content_tag :div, class: "alert alert-#{type}" do %>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= message %>
    <% end %>
  <% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
